<app-navbar></app-navbar>

<form *ngIf="this.allGames">
    <div class="form-group form-inline">
        Search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm" />
        <span class="ml-3" *ngIf="loading$ | async">Loading...</span>
    </div>

    <table class="table table-striped" *ngIf="this.allGames">
        <thead>
            <tr>
                <th scope="col" sortable="gameTitle" (sort)="onSort($event)">Game name</th>
                <th scope="col" sortable="gameRating" (sort)="onSort($event)">Rating</th>
            </tr>
        </thead>
        <tbody *ngIf="this.allGames">
            <tr *ngFor="let game of games$ | async">
                <td>
                    <ngb-highlight [result]="game.gameTitle" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="game.gameRating"></ngb-highlight>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
      <option [ngValue]="30">30 items per page</option>
      <option [ngValue]="50">50 items per page</option>
      <option [ngValue]="100">100 items per page</option>
    </select>
    </div>

</form>