<app-navbar></app-navbar>
<h2>List of all genres</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody *ngIf="this.allGenres">
        <tr *ngFor="let item of allGenres.results">
            <td>
                <ngb-highlight [result]="item.name" ></ngb-highlight>
            </td>
            <td>
                <button (click) = "details(item.id)">Details</button>
            </td>
        </tr>
    </tbody>
</table>