<app-navbar></app-navbar>
<h2>For me</h2>
<table class="table table-striped" *ngIf="this.popis">
    <thead>
        <tr>
            <th scope="col">Name of game</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of popis">
            <td>
                <ngb-highlight [result]="item.gameTitle" ></ngb-highlight>
            </td>
            <td>
                <button (click)="details(item)">Details</button>
            </td>
        </tr>
    </tbody>
</table>