<app-navbar></app-navbar>
<body>
    <h1 *ngIf="this.gameDetails" class="center">{{gameDetails.name}}</h1>
    <div *ngIf="this.gameDetails" [innerHTML]="gameDetails.description" class="center"></div>
    <img [src]="base64Image" class="center" />
</body>