<app-navbar></app-navbar>
<h1>Gaming Portal Login</h1>
<div class="bord">
    <form class="form-width" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm)">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">Username</label>
                <input type="text" name="login" placeholder="Username" formControlName="username" required>
            </div>
        </div>
        <br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">Password</label>
                <input type="password" name="login" placeholder="Password" formControlName="password" required>
            </div>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
</div>