form {
    margin-top: 30px;
    text-align: center;
}

h1 {
    margin-top: 30px;
    text-align: center;
}

.bord {
    margin: auto;
    width: 30%;
    border-radius: 25px;
    padding: 20px;
    border: 1px solid black;
}

.input-group-prepend {
    margin: auto !important;
    margin-top: -25px !important;
}