<app-navbar></app-navbar>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{itemName}} added to {{savedTo}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </ng-template>

<form *ngIf="this.allGames">
    <div *ngIf="this.allGames" class="form-group form-inline">
        Search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm" />
        <span class="ml-3" *ngIf="loading$ | async">Loading...</span>
    </div>

    <table *ngIf="this.allGames" class="table table-striped">
        <thead *ngIf="this.allGames">
            <tr>
                <th scope="col" sortable="gameTitle" (sort)="onSort($event)">Game name</th>
            </tr>
        </thead>
        <tbody *ngIf="this.allGames">
            <tr *ngFor="let game of games$ | async">
                <td>
                    <ngb-highlight [result]="game.gameTitle" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                    <button *ngIf="check" (click)="addToLibrary(game)" (click)="open(content)">Add to Library</button>
                </td>
                <td>
                    <button *ngIf="check" (click)="addToWishlist(game)" (click)="open(content)">Add to Wishlist</button>
                </td>
                <td>
                    <button (click)="details(game)">Details</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
      <option [ngValue]="30">30 items per page</option>
      <option [ngValue]="50">50 items per page</option>
      <option [ngValue]="100">100 items per page</option>
    </select>
    </div>

</form>