<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Gaming portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Homepage <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn text-white" id="platforme" ngbDropdownToggle>Platforms</button>
                        <div ngbDropdownMenu aria-labelledby="platforme">
                            <app-platform-item *ngFor="let platform of platforms; " [platform]="platform">
                            </app-platform-item>
                            <div class="dropdown-divider"></div>
                            <button ngbDropdownItem (click)="getAllPlatforms('1')">Show all platforms</button>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn text-white" id="zanrovi" ngbDropdownToggle>Genres</button>
                        <div ngbDropdownMenu aria-labelledby="zanrovi">
                            <app-gnre-nav *ngFor="let genre of genres; " [genre]="genre">
                            </app-gnre-nav>
                            <div class="dropdown-divider"></div>
                            <button ngbDropdownItem (click)="getAllGenres('1')">Show all genres</button>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="btn text-white" (click)="gamesPopis()" >Game list</button>
                </li>
                <li class="nav-item">
                    <button class="btn text-white" (click)="gamesRating()">Rating</button>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a *ngIf="check" class="nav-link" href="/library">Library</a>
                </li>
                <li class="nav-item active">
                    <a *ngIf="check" class="nav-link" href="/wishlist">Wishlist</a>
                </li>
                <li class="nav-item active">
                    <a *ngIf="check" class="nav-link" href="/recommendation">Recommendation</a>
                </li>
                <li class="nav-item active">
                    <a *ngIf="check==false" class="nav-link" href="/login">Login </a>
                </li>
                <li class="nav-item active">
                    <button *ngIf="check" class="btn text-white" (click)="logout()">Log out</button>
                </li>
                <li class="nav-item active">
                    <a *ngIf="check==false" class="nav-link" href="/register">Register </a>
                </li>
            </ul>
            <!--            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            -->
        </div>
    </nav>
</body>