<form class = "form-width" [formGroup]="confirmForm" (ngSubmit)="confirmToken(confirmForm)">
    <input type="text" name = "confirm" placeholder="Token" formControlName="token" required>
    <div>
        <input type="submit" value = "Confirm">
    </div>
</form>