.mp {
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: .7;
    background-color: transparent;
    background-image: url('/assets/img/gamingsite.jpg');
}

.t {
    border-radius: 25px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    width: 60%;
    background-color: darkgrey;
    border: 1px solid black;
    align-content: center;
}

p {
    text-align: center;
    font-family: "Courier New";
    color: black;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
}