<app-navbar></app-navbar>

<body>
    <h1 *ngIf="this.genreDetails" class="center">{{genreDetails.name}}</h1>
    <div *ngIf="this.genreDetails" [innerHTML]="genreDetails.description" class="center"></div>
    <img [src]="base64Image" class="center" />
</body>