<app-navbar></app-navbar>

<body>
    <h1 *ngIf="this.details" class="center">{{details.name}}</h1>
    <div *ngIf="this.details" [innerHTML]="details.description" class="center"></div>
    <img [src]="base64Image" class="center" />
</body>