<app-navbar></app-navbar>
<h1>Gaming Portal Register</h1>
<div class="bord">
    <form class="form-width" [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm)">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">Username</label>
                <input type="text" name="register" placeholder="Username" formControlName="username" required>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">Password</label>
                <input type="password" name="register" placeholder="Password" formControlName="password" required>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">Name</label>
                <input type="text" name="register" placeholder="FirstName" formControlName="firstName" required>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">Surname</label>
                <input type="text" name="register" placeholder="LastName" formControlName="lastName" required>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text">E-mail</label>
                <input type="text" name="register" placeholder="Email" formControlName="email" required>
            </div>
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
</div>